.header {
  border-bottom: 1px solid #ececec;
  width: 100%;
  height: 60px;

  position: fixed;
  z-index: 1;
  top: 0;

  background: var(--second-title-color);
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation__list {
  display: none;
  // display: flex;
  // margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
}
.header-navigation__item:not(:last-child) {
  margin-right: 50px;

  position: relative;
}

.header-navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;

  color: var(--main-title-color);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current-nav {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
  &:focus,
  &:hover {
    color: var(--hero-btn-accent-color);
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.header-contact__list {
  display: none;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: block;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header-contact__item {
  & + & {
    @media screen and (min-width: 768px) {
      margin-top: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
      margin-top: 0;
    }
  }
}

.header-contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;

  color: var(--text-color);

  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  // padding-top: 32px;
  // padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact__link--mail {
  @media screen and (max-width: 1199px) {
    padding-top: 16px;
  }
}
.header-contact__link--tel {
  @media screen and (max-width: 1199px) {
    padding-bottom: 14px;
  }
}

.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
  &:hover,
  &:focus {
    fill: currentColor;
  }
}

/*--------MOB_MENU--------*/

.open-menu__btn {
  margin-left: auto;
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.open-menu__icon,
.close-menu__icon {
  fill: currentColor;
}

.close-menu__btn {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu {
  position: fixed;
  background-color: var(--second-title-color);
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
  transition-property: opacity visability;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .container {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// .mob-menu__list {
//   margin-bottom: auto;
// }

.mob-menu__item {
  & + & {
    margin-top: 32px;
  }
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: start;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current-nav {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
  &:focus,
  &:hover {
    color: var(--hero-btn-accent-color);
  }
}

.mob-menu-top {
  margin-bottom: auto;
}
.mob-menu-contact__list {
  margin-bottom: 64px;
}

.mob-menu-contact__link {
  font-weight: 500;
  font-size: 22px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  @media screen and (min-width: 377px) {
    font-size: 34px;
  }
}

.mob-menu-contact__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.mob-menu-contact__item {
  & + & {
    margin-top: 32px;
  }
}

.mob-menu-social__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.mob-menu-social__item {
  padding-left: 10px;
  padding-right: 10px;
  & + & {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2196f3;
}
